### Django ###
*.log
/back/media/
/back/venv

### Python ###
__pycache__/

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib64/
parts/
sdist/
var/

*.egg-info/
.installed.cfg
*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

target/

### Node ###
node_modules
.gitignore

### Local env files ###
env/
.env.local
.env.*.local

### Log files ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Editor files ###
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### Unit test / coverage reports ###
htmlconv/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

### Translations ###
*.pot

### Sphinx ###
docs/_build/

### Personal documentation ###
_docs_

### Personal scripts ###
_scripts_

### Certificates ###
web/ssl

### OS files ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### Thumbs ###
.-*

### Externally mount files ###
.Spotlight-v100
.Trashes

### AFP Share ###
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


