// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #393939;
$secondary : #414141;
$third     : #5a5a5a;
$accent    : rgba(255, 255, 255, 0.07);
$amber     : #b4b4b4;

$dark      : #2f2f2f;

$positive  : #6daa5d;
$negative  : #ef9a9a;
$info      : #66a8c4;
$warning   : #F2C037;
